<html>
    <head>
        <title>Лосяш - слитые фото</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="main">
            <main>
                {% include 'header.html' %}
                <div class="gallery" id="gallery">
                    <h1>Галерея</h1>
                    <div class="gallery-row">
                        <img src="/static/images/picture.jpg">
                        <img src="/static/images/12385.png">
                        <img src="/static/images/scale_1200.webp">
                        <img src="/static/images/unnamed.jpg">
                    </div>
                    <div class="gallery-row">
                        <img src="/static/images/1501049601415010495934losyashumnyy-i-neskolko-upryamyy-losuchyonyy.jpeg">
                        <img src="/static/images/kartinki-losyasha-40.jpg">
                        <img src="/static/images/kartinki-losyasha-19.jpg">
                        <img src="/static/images/s1269585_0_11.png">
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>

