<html>
    <head>
        <title>Лосяш</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="main">
            <header>
                <h1>Лосяш</h1>
                <nav>
                    <li><a href="#news">Новости</a></li>
                    <li><a href="#gallery">Галерея</a></li>
                </nav>
            </header>
            <main>
                <div class="news" id="news">
                    <h1>Новости</h1>
                    <div class="new">
                        <h2>Гольф</h2>
                        <p>Лосяш спокойно лежал в своем гамаке, пил кофе. И неожиданно ему в чашку прилетел мач для игры в гольф. Это бил Ежик... <a href="ahah.html">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Рыбалка</h2>
                        <p>Однажды Лосяш и Копатыч отправились на рыбалку. Лосяш пытался ловить рыбу с помощью кактусов. Рыба повелась, но Лосяш бросил ее обратно в море. Копатыч разозлился, и Лосяшин справочник по рыболовству упал на двигатель. Лодка завелась и попала на деревья... <a href="ahah.html">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Старый год</h2>
                        <p>Крош не хотел проводить старый год, так как не успел выполнить планы на год. Нюша хочет зайти в гости к кролику, но выпускает старый год. Смогут ли смешарики вернуть его?.. <a href="ahah.html">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Край света</h2>
                        <p>Крош не желал верить Лосяшу, что земля круглая, а потому решил это проверить. Взяв с собой Ежика, кролик на лодке отправился в открытое море... <a href="ahah.html">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Торжество разума</h2>
                        <p>Нюша слышит по радио сообщение о Нобелевской премии и говорит, что они полностью бесполезные. Лосяш же возражает и начинает долгий и печальный монолог о своей потерянной любви... <a href="ahah.html">Читать продолжение</a></p>
                    </div>
                </div>
                <div class="gallery" id="gallery">
                    <h1>Галерея</h1>
                    <div class="gallery-row">
                        <img src="/static/images/picture.jpg">
                        <img src="/static/images/12385.png">
                        <img src="/static/images/scale_1200.webp">
                        <img src="/static/images/unnamed.jpg">
                    </div>
                    <div class="gallery-row">
                        <img src="/static/images/1501049601415010495934losyashumnyy-i-neskolko-upryamyy-losuchyonyy.jpeg">
                        <img src="/static/images/kartinki-losyasha-40.jpg">
                        <img src="/static/images/kartinki-losyasha-19.jpg">
                        <img src="/static/images/s1269585_0_11.png">
                    </div>
                </div>
            </main>
            <footer>
                <h3>Ганицев Тимофей</h3>
            </footer>
        </div>
    </body>
</html>