<html>
    <head>
        <title>Лосяш</title>
    </head>
    <body>
        <header>
            <h1>Лосяш</h1>
            <nav>
                <li><a href="#news">Новости</a></li>
                <li><a href="#gallery">Галерея</a></li>
            </nav>
        </header>
        <main>
            <div class="news" id="news">
                <div class="new-1">
                    <h2>Гольф</h2>
                    <p>Лосяш спокойно лежал в своем гамаке, пил кофе. И неожиданно ему в чашку прилетел мач для игры в гольф. Это бил Ежик... <a href="ahah.html">Читать продолжение</a></p>
                </div>
                <div class="new-2">
                    <h2>Рыбалка</h2>
                    <p>Однажды Лосяш и Копатыч отправились на рыбалку. Но Лосяш пытался ловить рыбу с помощью кактусов. Рыба повелась, но Лосяш бросил ее обратно в море. Копатыч разозлился, и Лосяшин справочник по рыболовству упал на двигатель. Лодка завелась и попала на деревья... <a href="ahah.html">Читать продолжение</a></p>
                </div>
                <div class="new-3">
                    <h2></h2>
                </div>
            </div>
            <div class="gallery" id="gallery">

            </div>
        </main>
    </body>
</html>