<html>
    <head>
        <title>Лосяш - Новости</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="main">
            {% include 'header.html' %}
            <main>
                <div class="news" id="news">
                    <h1>Новости</h1>
                    <div class="new">
                        <h2>Гольф</h2>
                        <p>Лосяш спокойно лежал в своем гамаке, пил кофе. И неожиданно ему в чашку прилетел мач для игры в гольф. Это бил Ежик... <a href="/ahah">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Рыбалка</h2>
                        <p>Однажды Лосяш и Копатыч отправились на рыбалку. Лосяш пытался ловить рыбу с помощью кактусов. Рыба повелась, но Лосяш бросил ее обратно в море. Копатыч разозлился, и Лосяшин справочник по рыболовству упал на двигатель. Лодка завелась и попала на деревья... <a href="/ahah">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Старый год</h2>
                        <p>Крош не хотел проводить старый год, так как не успел выполнить планы на год. Нюша хочет зайти в гости к кролику, но выпускает старый год. Смогут ли смешарики вернуть его?.. <a href="/ahah">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Край света</h2>
                        <p>Крош не желал верить Лосяшу, что земля круглая, а потому решил это проверить. Взяв с собой Ежика, кролик на лодке отправился в открытое море... <a href="/ahah">Читать продолжение</a></p>
                    </div>
                    <div class="new">
                        <h2>Торжество разума</h2>
                        <p>Нюша слышит по радио сообщение о Нобелевской премии и говорит, что они полностью бесполезные. Лосяш же возражает и начинает долгий и печальный монолог о своей потерянной любви... <a href="/ahah">Читать продолжение</a></p>
                    </div>
                </div>
                
            </main>
            <footer>
                <h3>Ганицев Тимофей</h3>
            </footer>
        </div>
    </body>
</html>